#Used for cURL requests
requests==2.32.3
urllib3==2.3.0
# Used to scrape site
beautifulsoup4==4.13.3
#Used to connect to telegram as bot (for big files)
Telethon==1.39
#Used to connect to telegram as bot
python-telegram-bot==22.0
#Used to schedule task
schedule==1.2.2
#Used for directory watcher
inotify==0.2.10
#Used to extract rar files - For further implementation
rarfile==4.2
