{
  "telegram_token" : "",
  "refresh_rate" : 15,
  "filetypes" : ["pdf"],
  "myChannel" : "@channelName",
  "fileLocation" : "/my/directory",
  "downloadRequest" : "MyFiles",
  "downloadSite" : "https://my.site.com"
}
