{
  "telegram_token" : "",
  "refresh_rate" : 15,
  "filetypes" : ["pdf"],
  "dailyChecksAt" : [],
  "myChannel" : "@channelName",
  "fileLocation" : "/my/directory",
  "downloadRequest" : "MyFiles",
  "downloadSite" : "https://my.site.com",
  "apiId" : 12345,
  "apiHash" : "0123456789abcdef0123456789abcdef",
  "fetcherScript" : "/home/my/script",
  "debug_useOnlyClient": false,
  "allow_debugMessage": false
}
